{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/index.css' %}">
    <title>Home</title>
</head>

<body>
    {% block content %}
    <main class="home-page-container">
        <section class="hero-container">
            <nav class="navbar" id="mobile-navbar">
                <a href="#" class="nav-logo">Logo</a>
                <ul class="nav-menu">
                    {% if request.user.is_authenticated %}

                    <li class="nav-item">
                        <a href="/game" class="nav-link">Play</a>
                    </li>
                    <li class="nav-item">
                        <a href="/accounts/logout" class="nav-link">Sign out</a>
                    </li>
                    {% else %}


                    <li class="nav-item">
                        <a href="/accounts/login" class="nav-link">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a href="/register" class="nav-link">Register</a>
                    </li>
                    {% endif %}

                </ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>

            <div class="hero-content-container">
                <div class="intro-container">
                    <p>Mix, Find, Discover - Discover a world of Elements waiting to be found</p>
                </div>
            </div>
            <section class="right-pane-container">
                <div class="right-pane-deco"></div>
                <seciton class="right-pane"></seciton>
                </div>
                <img src="/static/images/home/rocket-min.webp" alt="home rocket image" class="right-pane-rocket-image">
                <div class="right-pane-planets-container">

                    <img src="/static/images/home/planets-min.webp" alt="home planets image"
                        class="right-pane-planets-image">
                </div>
                <section class="right-pane-content">
                    <p class="right-pane-title">Your mission</p>
                    <p class="right-pane-text">After a successful evacuation from Earth, our heroes aboard spacecraft
                        "MARS
                        SHIP" head to the red planet. To prepare the planet for colonization, they created a generator
                        of
                        elements. Now they must create as many items as possible. Explore, mix, invent! Every attempt
                        brings
                        us closer to salvation!</p>
                </section>
                <div class="right-pane-deco-flipped"></div>
            </section>

            <section class="cauldron-example-container">
                <div class="cauldron-example-image"></div>
                <div class="cauldron-example-text">
                    <p>The four basic elements underlie everything: wind, earth, fire and water. By combining them in
                        the Cauldron you create something new.<br><br>
                        When a player discovers a new element, they will unlock that element along with a reward, the
                        reward will contain the elemnent they found and a certain amount of credits based on the element
                        they found.<br><br>

                </div>
            </section>
            <div class="right-pane-deco-cauldron"></div>
            <section class="cauldron-information-container">
                <div class="cauldron-information-image"></div>
                <div class="cauldron-information-text">
                    Each time the player uses the Cauldron it will cost a fee of 15 Credits. These credits can be used
                    to purchase any of the four basic elements in the shop.</p>
                </div>
                <div class="right-pane-deco-flipped"></div>
            </section>

    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script type="module" src="{% static 'scripts/home/main.js' %}"></script>
    {% endblock %}

</body>

</html>