{% extends "base.html" %}
{% load static %}  

{% block content %}


<!-- MAINBAR -->
<div class="home-container">
    <div class="mainbar">
        <div class="playerinfo">
            <img src="/static/images/useravatar.png" id="useravatar" alt="user avatar">
            <div id="username" style="color: white;">Jubbly</div>

            <div class="toggle-mobile disabled">
                <img src="/static/images/left_mobile_pane.png" id="left-pane" alt="" srcset="">
                <img src="/static/images/right_mobile_pane.png" id="right-pane" alt="" srcset="">
            </div>
        </div>
    </div>


<!-- NAVIGATION BUTTONS -->
    <div class="container navigation-container">
        <button class="navigation-button" type="submit">slap</button>
        <button class="navigation-button" type="submit">slap</button>
        <button class="navigation-button" type="submit">slap</button>
    </div>
    <div class="game-panel">
    
    </div>


<!-- GAME PANEL -->
 

</div> 



<!-- GAME PANEL / [MOBILE]  -->



<!--  -->



<!--  -->
 

{% endblock %}  