* {
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
.disabled {
    display: none;
    background: none;
}
.home-container {
    position: relative;
    height: 100vh;
    background: gray;
    background: url('/static/images/generator_background.png');
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.generator-background {
    background: url('/static/images/back_generator.png');
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    .home-container {
        background: linear-gradient(84deg, rgb(1, 2, 22) 51%, rgb(1, 7, 26) 100%);
        
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}