@import url("base.css");

.grid2x2 {
  position: relative;
  max-width: 375px;
  min-height: 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  margin: 0 auto;
  top: 80px;
}
.grid2x2 > div {
  margin: 0 auto;
  display: flex;
  flex-basis: calc(50% - 40px);
  justify-content: center;
  flex-direction: row;
}
.grid2x2 > div > div {
  background: url("/static/images/inventory_slot.png") no-repeat;
  background-size: contain;
  min-height: 100px;
  min-width: 100px;
  display: flex;
  flex-direction: row;
}
.grid2x2 > div > div:hover {
  background: url("/static/images/hover_inventory_item.png") no-repeat;
  background-size: contain;
  min-height: 100px;
  min-width: 100px;
}

.cauldron-container {
  position: relative;
  max-width: 550px;
  min-height: 475px;
  margin: 2vh auto;
  background: url("/static/images/cauldron_backdrop.png") no-repeat;
  background-size: contain;
  background-position: center center;
  top: 10%;
}


@media only screen and (max-height: 570px) {
  .grid2x2 {
    top: 120px;
    min-width: 295px;
    gap: 0px;
  }
  .grid2x2 > div > div {
    min-height: 100px;
    min-width: 100px;
  }
}
@media only screen and (min-height: 700px) {
  .grid2x2 {
    top: 95px;
  }
  .grid2x2 > div {
    min-height: 150px;
  }
  .grid2x2 > div > div {
    min-height: 115px;
    min-width: 115px;
  }
}

@media only screen and (min-width: 768px) {
  .cauldron-container {
    top: 80px;
  }
  .grid2x2 {
    gap: 70px;
    top: 60px;
  }

  .grid2x2 > div > div {
    height: 150px;
    width: 150px;
  }
}
.inventory-item {
  position: relative;
  margin-top: 30px;
  background: url("/static/images/inventory_slot.png") no-repeat;
  background-size: contain;
  min-height: 115px;
  max-width: 115px;
  /* max-width: 125px; */
}

/* .inventory-item:hover {
  background: url("/static/images/hover_inventory_item.png") no-repeat;
  background-size: contain;
} */

.inventory-slot-bg {
  position: relative;
  left: 27.5px;
  background: url("../images/inventory_slot.png") no-repeat;
  background-size: contain;
  width: 110px;
}
.inventory-slot-bg:hover {
  background: url("../images/hover_inventory_item.png") no-repeat;
  background-size: contain;
  width: 100px;
}
.amount {
  position: relative;
  background: url("../images/element_count.png") no-repeat;
  background-size: contain;
  width: auto;
  margin: 0 auto;
  text-align: center;
}

.invImg {
  position: relative;
  padding: 1px;
  width: 100px;
  top: -30px;
  height: auto;
}
