{% extends "base.html" %} {% load static %} {% block content %}
{{ request.user.id|json_script:"user_id" }}


<!-- MAINBAR -->
<main class="home-container">
    <!-- Discovered new element -->
    <div id="discoveredNewContainer" class="disabled">
        <div class="discoveredNew-modal">
            <p class="discoveredNewName" id="discoveredNewName"></p>
            <div class="discoveredNew-content">
                <div class="discoveredNewImage" id="discoveredNewImage"></div>
                <div style=" margin-top: 10px; padding-left: 125px;">
                    <img src="/static/images/game/icons/cauldron_icon-min.webp" class="cauldron-icon"
                        alt="reward cauldron image">
                    <p id="discoveredNewReward"
                        style="color: rgb(230, 178, 9); font-size: 1.25rem; display: inline-block;"></p>
                </div>
                <button class="blend-button" id="discoveredNewClaimButton">Claim</button>
            </div>
        </div>
    </div>

    <!-- Discovered element -->
    <div id="discoveredContainer" class="disabled">
        <div class="discovered-modal">
            <p class="discoveredName" id="discoveredName"></p>
            <div class="discovered-content">
                <div class="discoveredImage" id="discoveredImage"></div>
                <button class="blend-button" id="discoveredClaimButton" style="margin-top: 10px;">Claim</button>
            </div>
        </div>
    </div>

    <div class="mainbar">
        <div class="playerinfo">
            <img src="/static/images/game/icons/useravatar-min.webp" id="useravatar" alt="user avatar" />
            <div id="username" style="color: wheat">{{ user.username }}</div>
            <div class="cauldron-icon-container">
                <div class="floated" style="margin-left: 100px;">
                    <img src="/static/images/game/icons/cauldron_icon-min.webp" class="cauldron-icon"
                        alt="cauldron-icon">
                    <p id="playerCredits" style=" font-size: 20px; color: wheat; display: inline; ">
                    </p>
                    <p id="amountTo" style="font-size: 20px; position: relative; bottom: 30px; color: green; margin: 0">
                    </p>
                    <p id="amountToNegative"
                        style="font-size: 20px; position: absolute; top: 45px; left: 210px; color: red; margin: 0">
                    </p>
                    <p id="minusCauldronFee"></p>
                </div>


                <a href="/accounts/logout" class="game-menu-icon game-menu-icons"
                    style="display: flex; flex-direction: row; position: absolute; right: 120px; top: 10px; color: wheat;font-size: 1.5rem;"><i
                        class="fa-solid fa-arrow-right-from-bracket"></i></a>

                <form action="/checkout/" method="POST">
                    {% csrf_token %}

                    <button type="submit" class="game-menu-icon game-menu-icons"
                        style="display: flex; flex-direction: row; position: absolute; right: 70px; top: 10px; color: wheat; background: none; border: none; font-size: 1.5rem;"><i
                            class="fa-solid fa-basket-shopping"></i></button>
                </form>
                <a href="/" class="game-menu-icon game-menu-icons">
                    <p
                        style="display: flex; flex-direction: row; position: absolute; right: 25px; top: 5px; color: wheat;font-size: 1.5rem;">
                        <img src="../../static/images/home/main-logo.png" height="auto" width="40px"
                            alt="game logo image">
                    </p>
                </a>



            </div>
            <div class="toggle-mobile">
                <img src="/static/images/game/left_mobile_pane-min.webp" id="left-pane" alt="left-pane-sprite" />
                <img src="/static/images/game/right_mobile_pane-min.webp" id="right-pane" alt="right-pane-sprite" />
            </div>
        </div>


        <!-- NAVIGATION BUTTONS -->
        <div class="navigation-container">
            <button class="navigation-button active" id="toggleCauldron">Cauldron</button>
            <button class="navigation-button" id="toggleShop">Shop</button>
            <button class="navigation-button" id="toggleElements">Elements</button>


        </div>


        <div class="game-panel">
            <!-- Cauldron view -->
            <div class="cauldron-container" id="cauldron-container">
                <div class="reward-container"><img class="reward-image"
                        src="/static/images/game/components/cauldron/reward-min.webp" alt="reward image">
                    <div id="countdown" style="color: wheat;">
                    </div>
                </div>
                <div class="grid2x2">
                    <div class="cauldron-slot" style="font-size: 1.5rem; color: wheat;"><i class="fa-solid fa-plus"
                            style="opacity: .7;"></i>
                    </div>
                    <div class="cauldron-slot" style="font-size: 1.5rem; color: wheat;"><i class="fa-solid fa-plus"
                            style="opacity: .7;"></i>
                    </div>
                    <div class="cauldron-slot" style="font-size: 1.5rem; color: wheat;"><i class="fa-solid fa-plus"
                            style="opacity: .7;"></i>
                    </div>
                    <div class="cauldron-slot" style="font-size: 1.5rem; color: wheat;"><i class="fa-solid fa-plus"
                            style="opacity: .7;"></i>
                    </div>



                </div>
                <button class="blend-button button-disabled" id="blend">blend</button>

                <div class="cauldron-middle">
                    <div class="cauldron-middle-cover" alt="cauldron middle cover">
                    </div>
                </div>
                <!-- <img src="/static/images/game/cauldron_button-min.webp" class="cauldron-fee-image" alt="cauldron fee icon" /> -->
            </div>
        </div>
    </div>

    </div>

    <!-- Shop view -->
    <div class="shopContainer disabled" id="shop-container">
        <div class="shop2x2">
            <div>
                <div class="filledShopWidth">
                    <p style="margin-right: 22px;">Air</p>
                    <img src="../../static/images/game/elements/Air-min.webp" class="shopElementImage">
                    <div>
                        <img src="../../static/images/game/icons/minus.webp" width="25px" height="25px"
                            class="quantityDecrement">
                        <p style="display: inline-block" class="quantityValue">1</p>
                        <img src="../../static/images/game/icons/plus.webp" width="25px" height="25px"
                            class="quantityIncrement">
                    </div>

                </div>
                <button class="shopBuyButton">
                    <p class="shopBuyButtonText">Buy</p>
                </button>
            </div>
            <div>
                <div class="filledShopWidth">
                    <p style="margin-right: 22px;">Earth</p>
                    <img src="../../static/images/game/elements/Earth-min.webp" class="shopElementImage">
                    <div>
                        <img src="../../static/images/game/icons/minus.webp" width="25px" height="25px"
                            class="quantityDecrement">
                        <p style="display: inline-block" class="quantityValue">1</p>
                        <img src="../../static/images/game/icons/plus.webp" width="25px" height="25px"
                            class="quantityIncrement">
                    </div>

                </div>
                <button class="shopBuyButton">
                    <p class="shopBuyButtonText">Buy</p>
                </button>
            </div>
            <div>
                <div class="filledShopWidth">
                    <p style="margin-right: 22px;">Fire</p>
                    <img src="../../static/images/game/elements/Fire-min.webp" class="shopElementImage">
                    <div>
                        <img src="../../static/images/game/icons/minus.webp" width="25px" height="25px"
                            class="quantityDecrement">
                        <p style="display: inline-block" class="quantityValue">1</p>
                        <img src="../../static/images/game/icons/plus.webp" width="25px" height="25px"
                            class="quantityIncrement">
                    </div>

                </div>
                <button class="shopBuyButton">
                    <p class="shopBuyButtonText">Buy</p>
                </button>
            </div>
            <div>
                <div class="filledShopWidth">
                    <p style="margin-right: 22px;">Wind</p>
                    <img src="../../static/images/game/elements/Wind-min.webp" class="shopElementImage">
                    <div>
                        <img src="../../static/images/game/icons/minus.webp" width="25px" height="25px"
                            class="quantityDecrement">
                        <p style="display: inline-block" class="quantityValue">1</p>
                        <img src="../../static/images/game/icons/plus.webp" width="25px" height="25px"
                            class="quantityIncrement">
                    </div>

                </div>
                <button class="shopBuyButton">
                    <p class="shopBuyButtonText">Buy</p>
                </button>
            </div>
        </div>

    </div>
    <!-- Elements view -->
    <div class="container disabled" id="elements-container">
        <div class="tableList" id="listingTable"></div>
        <div class="pagination-block">
            <span class="pageButton" id="button_prev">Prev</span>
            <span id="page_number"></span>
            <span class="pageButton" id="button_next">Next</span>
        </div>
    </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <div class="inventoryModalDecoratorContainer">
            <div class="inventoryModalDeco"></div>
            <div class="inventoryModalDeco"></div>
            <div class="inventoryModalDeco"></div>
            <div class="inventoryModalDeco"></div>
        </div>
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modalInventoryListContainer">
                <p style="color: wheat; font-size: 1.5rem; position: absolute; left: 112px;">INVENTORY</p>

                <ul class="inventoryList">
                    <div class="loader"></div>
                </ul>

            </div>
            <span class="clearButton"></span>
            <span class="closeButton">
                <p>Close</p>
            </span>
        </div>

    </div>

    <!-- GAME PANEL -->
    </div>

    </div>
    <p id="poi" class="disabled" style="position: absolute; top: 10px; left: 46vw;">Open inventory</p>
    <p id="home-icon" class="disabled" style="position: absolute; top: 10px; left: 46vw;">Logout</p>
    <p id="logout-icon" class="disabled" style="position: absolute; top: 10px; left: 46vw;">Purchase credits</p>
    <p id="credits-icon" class="disabled" style="position: absolute; top: 10px; left: 46vw;">Home</p>
    <aside class="stripe-container"
        style="background: url('../../static/images/game/inventory_modal-min.webp') no-repeat; background-size: contain;">
        <img src="../../static/images/game/icons/sale.png" width="100px" height="auto" style="margin: 0 auto;">
        <p style="position: absolute; top: 40px; right: 56px; font-size: 1.25rem; color: rgb(0,164,77);"> Only $5!</p>
        <header style="display: flex; flex-direction: column; text-align: center; ">
            <img src="../../static/images/game/icons/cauldron_icon-min.webp" width="50px" height="50px"
                style="margin: 0 auto;">
            <p>x300</p>

        </header>
        <div style="text-align: center;">
            <form action="/checkout/" method="POST">
                {% csrf_token %}
                <button class="blend-button" type="submit" style="height: 40px; width: 110px; font-size: .8rem;">Buy
                    now</button>
            </form>
        </div>
    </aside>
    <aside class="disabled" id="stripe-mobile">
        <div style="text-align: center;">
            <form action="/checkout/" method="POST">
                {% csrf_token %}
                <button class="blend-button" type="submit" style="height: 50px; width: auto; font-size: .8rem;">Purchase
                    credits</button>
            </form>
        </div>
    </aside>


</main>


<!-- SHOP  -->



{% endblock %}