@import url("/static//css/base.css");

.reward {
  position: absolute;
  inset: -15px 0 0 47.5px;
  background: url("/static/images/cauldron_reward.png") no-repeat;
  background-size: contain;
  height: auto;
  width: 225px;
  z-index: 1;
  pointer-events: none;
  content: "";
  
}
.cauldron-fee-image {
  position: relative;
  top: -15px;
  width: 165px;
  height: auto;
}
.cauldron-container {
  position: relative;
  max-width: 88vw;
  min-height: 375px;
  margin: 0 auto;
  background: url("/static/images/cauldron_backdrop.png") no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 10px;
  margin-top: 6vh;
}
.cauldron-middle {
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 37px);
  background: url("/static/images/cauldron_middle.png") no-repeat;
  background-size: contain;
  background-position: center center;
  width: 80px;
  height: 80px;
}
.cauldron-middle-cover {
  position: absolute;
  left: calc(50% - 48px);
  top: calc(50% - 43px);
  background: url("/static/images/cauldron_middle_cover.png") no-repeat;
  background-size: contain;
  background-position: center center;
  width: 95px;
  height: 86px;
}

.grid2x2 {
  position: relative;
  display: grid;
  grid-template-columns: 165px 100px;
  grid-row: auto auto;
  grid-row-gap: 50px;
  width: fit-content;
  margin: 0 auto;
  padding-top: 14%;
  

}
.grid2x2 > div {
  background: url("/static/images/inventory_slot.png") no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 110px;
  min-width: 110px;
}
.grid2x2 > div:hover {
  background: url("/static/images/hover_inventory_item.png") no-repeat;
  background-size: contain;
  min-height: 100px;
  min-width: 100px;
}

.cauldronTempImg {
  position: relative;
  width: 100%;
  height: 100%;
}
.inventory-item {
  position: relative;
  top: 30px;
  background: url("/static/images/inventory_slot.png") no-repeat;
  background-size: contain;
  height: 115px;
  max-width: 115px;
  /* max-width: 125px; */
}

.inventory-slot-bg {
  position: relative;
  left: 12.5px;
  background: url("../../images/inventory_slot.png") no-repeat;
  background-size: contain;
  width: 110px;
  margin-bottom: 25px;
  margin-top: 40px;
  height: auto;
}

.inventory-slot-bg:hover {
  background: url("../../images/hover_inventory_item.png") no-repeat;
  background-size: contain;
}

.invElementName {
  background: url("/static/images/element_name.png") no-repeat;
  background-size: contain;
  position: relative;
  text-align: center;
  top: -17px;
  width: 85px;
  height: 150px;
  color: wheat;
  font-size: 0.85rem;
  margin: 0 auto;
}

.inventoryImage {
  position: absolute;
  padding: 12px;
  width: 110px;
  top: 0;
  left: 0;
  height: auto;
  z-index: 15;
}
.amount {
  position: absolute;
  width: 75px;
  left: 17.5px;
  bottom: 3px;
  color: white;
}

.inventoryListItems {
  max-width: 115px;
  height: auto;
}
/* @media only screen and (max-width: 375px) {
  .reward {
    margin: 15px 57px;
    width: 200px;
  }
  .cauldron-container {
    max-width: 325px;
    top: 30px;
  }
  .grid2x2 {
    top: -30px;
    min-width: 295px;
    column-gap: 20px;
    row-gap: 40px;
  }
}
@media only screen and (max-height: 570px) {
  .grid2x2 {
    top: 120px;
    min-width: 295px;
    gap: 0px;
  }
  .grid2x2 > div > div {
    min-height: 100px;
    min-width: 100px;
  }
}
@media only screen and (min-height: 700px) {
  .grid2x2 > div {
    min-height: 150px;
  }
  .grid2x2 > div > div {
    min-height: 115px;
    min-width: 115px;
  }
}

@media only screen and (min-width: 768px) {
  .reward {
    margin: 20px 95px;
  }
  .cauldron-container {
    min-width: 450px;
    top: 30px;
  }
  .grid2x2 {
    gap: 40px;
    top: 0px;
  }

  .grid2x2 > div > div {
    height: 150px;
    width: 150px;
  }
  .cauldron-fee-image {
    width: 250px;
    top: -13px;
  }
} */
