@import url("/static//css/base.css");

.reward {
  position: absolute;
  /* inset: 30px 0 0 50px; */
  margin: 30px 55px;
  background: url("/static/images/cauldron_reward.png") no-repeat;
  background-size: contain;
  height: 250px;
  width: 250px;
  z-index: 1;
  content: "";
}
.cauldron-fee-image {
  position: relative;
  top: -15px;
  width: 165px;
  height: auto;
}
.grid2x2 {
  position: relative;
  max-width: 375px;
  min-height: 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  top: -20px;
  
  
  margin: 0 auto;
  padding-top: 100px;
}
.grid2x2 > div {
  margin: 0 auto;
  display: flex;
  flex-basis: calc(50% - 40px);
  justify-content: center;
  flex-direction: row;
}
.grid2x2 > div > div {
  background: url("/static/images/inventory_slot.png") no-repeat;
  background-size: contain;
  min-height: 100px;
  min-width: 100px;
  display: flex;
  flex-direction: row;
}
.grid2x2 > div > div:hover {
  background: url("/static/images/hover_inventory_item.png") no-repeat;
  background-size: contain;
  min-height: 100px;
  min-width: 100px;
}

.cauldron-container {
  position: relative;
  max-width: 575px;
  min-height: auto;
  margin: 0 auto;
  background: url("/static/images/cauldron_backdrop.png") no-repeat;
  background-size: contain;
  background-position: center center;
}
.cauldronTempImg {
  position: relative;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 375px) {
  .reward {
    margin: 15px 57px;
    width: 200px;
  }
  .cauldron-container {
    max-width: 325px;
    top: 30px;
  }
  .grid2x2 {
    top: -30px;
    min-width: 295px;
    column-gap: 20px;
    row-gap: 40px;
  }
}
@media only screen and (max-height: 570px) {
  .grid2x2 {
    top: 120px;
    min-width: 295px;
    gap: 0px;
  }
  .grid2x2 > div > div {
    min-height: 100px;
    min-width: 100px;
  }
}
@media only screen and (min-height: 700px) {
  .grid2x2 > div {
    min-height: 150px;
  }
  .grid2x2 > div > div {
    min-height: 115px;
    min-width: 115px;
  }
}

@media only screen and (min-width: 768px) {
  .reward {
    margin: 20px 95px;
  }
  .cauldron-container {
    min-width: 450px;
    top: 30px;
  }
  .grid2x2 {
    gap: 40px;
    top: 0px;
  }

  .grid2x2 > div > div {
    height: 150px;
    width: 150px;
  }
  .cauldron-fee-image {
    width: 250px;
    top: -13px;
  }
}
.inventory-item {
  position: relative;
  top: 30px;
  background: url("/static/images/inventory_slot.png") no-repeat;
  background-size: contain;
  min-height: 115px;
  max-width: 115px;
  /* max-width: 125px; */
}

.inventory-slot-bg {
  position: relative;
  left: 27.5px;
  background: url("../../images/inventory_slot.png") no-repeat;
  background-size: contain;
  width: 110px;
  height: 120px;
}
.inventory-slot-bg:hover {
  background: url("../../images/hover_inventory_item.png") no-repeat;
  background-size: contain;
}
.inventory-slot-bg:active {
  background: url("../../images/hover_inventory_item.png") no-repeat;
  background-size: contain;
  box-shadow: 0 10px 10px rgba(7, 62, 134, 1);
}
.amount {
  position: relative;
  background: url("../../images/element_count.png") no-repeat;
  background-size: contain;
  width: 75px;
  left: 20px;
}

.invImg {
  position: relative;
  padding: 12px;
  width: 100px;
  margin-top: -30px;
  height: fit-content;
}

.elementName {
  text-align: center;
}
