@import url("../base.css");
/* GAME PANEL */
.game-panel {
  position: relative;
  text-align: center;
  height: auto;
  margin: 0 auto;
  top: 40px;
}

.navigation-container {
  position: relative;
  width: 100%;
  margin: 20px auto;
}
.navigation-button {
  position: relative;
  margin: -2.5px;
  border: none;
  width: 90px;
  height: 30px;
  font-size: 12px;
  background: none;
  color: #30b5ff;
}
.navigation-button:hover {
  border: 1px #30b5ff solid;

}
.navigation-button:focus {
  border: 1px #30b5ff solid;
  box-shadow: 0 4px 15px rgba(7, 62, 134, 0.9);
  text-decoration: none;
  outline: none;
}
.active {
  border: 1px #30b5ff solid;
  box-shadow: 0 4px 15px rgba(7, 62, 134, 0.9);
  text-decoration: none;
  outline: none;
}

@media only screen and (max-width: 768px) {
  .navigation-button {
    border: 1px #30b5ff solid;
  }

}

